:root {
    --independence: #555b6eff;
    --morning-blue: #89b0aeff;
    --powder-blue: #bee3dbff;
    --cultured: #faf9f9ff;
    --apricot: #ffd6baff;
    }

.listItem {
    display:inline-block;
}

.hidden {
    color:  var(--independence);
}

.standard {
    color: black;
}