:root {
  --independence: #555b6eff;
  --morning-blue: #89b0aeff;
  --powder-blue: #bee3dbff;
  --cultured: #faf9f9ff;
  --apricot: #ffd6baff;
  }
  


.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: var(--powder-blue);
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--independence);
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: var(--independence);
  background-color: var(--powder-blue);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}
